.weekView {
  width: 100%;
  height: 90dvh;
}

.week-tasks {
  &__section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
  }
  &__container {
    width: 85%;
    height: 80%;
    background-color: white;
  }
}

.week-task {
}

.week-days-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 50vh;
}

.week-day {
  background-color: white;
  border: 1px solid grey;
  &__name {
    text-align: center;
  }
}
