.calendar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;

  .top-container {
    width: 90%;
    height: 30%;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;

    .tasks-container {
      display: flex;
      flex-wrap: nowrap;
      gap: 8px;
      height: 100%;
      width: 100%;
    }
  }
}
