main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;

  .top-container {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    width: 90%;
    height: 30%;
    align-items: center;

    article {
      justify-self: center;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 8px;
      height: 100%;
      width: 100%;
      padding: 6px;
      border-radius: 0.5rem;
      background: rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3) inset;
    }
  }
}
