main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;

  .top-container {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    width: 90%;
    height: 30%;
    align-items: center;
    article {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 8px;
      height: 100%;
      padding: 6px;
      border-radius: 0.5rem;
      background: rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3) inset;
    }
  }

  .week {
    width: 95%;
    height: 50%;
    text-shadow: 0px 0px 5px rgba($color: rgb(255, 255, 255), $alpha: 0.9) inset;
    background-color: rgba($color: rgb(214, 214, 214), $alpha: 0.3);
    border-radius: 1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2),
      0px 0px 3px rgba(rgb(216, 216, 216), 0.8) inset;
  }
}
