.day {
}

.containers {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
}

.manage-tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}
.manage-steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;

  &__containers {
    display: flex;
    flex-direction: row;
    width: stretch;
    height: stretch;
    justify-content: space-evenly;
  }
}
